.clear{ 
    clear:both; 
}

.photo-link	{ 
    padding:5px; 
    margin:5px; 
    border:1px solid #ccc; 
    display:block; 
    width:150px; 
    float:left; 
}
.photo-link:hover{ 
    border-color:#999; 
}